.carousel-3d-container
  z-index 0
  width 100%
  min-height 1spx
  overflow hidden
  position relative
  box-sizing border-box

.carousel-3d-slider
  margin 0 auto
  position relative
  transform-style preserve-3d
  perspective 1000spx
