@font-face
  font-family 'iconvip'
  src url('/static/fonts/iconvip.eot?ar6onh')
  src url('/static/fonts/iconvip.eot?ar6onh#iefix') format('embedded-opentype'),
    url('//vipweb.bs2cdn.yy.com/vipinter_cc409111516343a0adb15a07a5926f2c.ttf') format('truetype'),
    url('/static/fonts/iconvip.woff?ar6onh') format('woff'),
    url('/static/fonts/iconvip.svg?ar6onh#iconvip') format('svg')
  font-style normal
  font-weight normal

[class^='icon-'],
[class*=' icon-']
  speak none
  line-height 1
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  font-family 'iconvip' !important
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-checkmark:before
  content '\e902'

.icon-tick:before
  content '\e901'

.icon-trash-2:before
  content '\e900'
