@import './base.styl'

.opne-in-browser-tip
  display none
  z-index 99999
  fullPageMask(0.8)
  &__img
    top 10spx
    right 40spx
    position absolute
    bgImg('../yyvip-img/opne-in-browser-tip.png', 295spx, 270spx)
    &__text
      top 180spx
      left 28spx
      color #fff
      fontDpr(14)
      text-align center
      position absolute
