.scroll-to-top
  right 0spx
  bottom 60spx
  z-index 999
  position fixed
  &--default
    width 60spx
    height 60spx
    background url('../../yyvip-img/scroll-to-top.jpg') center center no-repeat
    background-size 60spx 60spx
