@import '../../yyvip-stylus/base'

.page-confirm__foot
  height 88spx
  line-height 88spx
  webkitBoxCenter()
  border-top 1PX solid border-grey
  &__cancel,
  &__confirm
    flex 1
    box-sizing border-box
  &__cancel
    color color-grey
  &__confirm
    color color-blue
    border-left 1PX solid border-grey
