@import '../../yyvip-stylus/base'

.count-down
  fontDpr(14)
  &--default
    color #fff
    width 240spx
    preHeight(80spx)
    text-align center
    &.active
      background color-blue
    &.disabled
      background color-grey
